/* You can add global styles to this file, and also import other style files */
html {
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--surface-ground);

  --color-error: #fca5a5;
  --color-warn: #fcd34d;
  --color-success: #66eb96;
  --color-info: #93c5fd;
}

body {
  margin: 0;
}

.p-menu-width-100 {
  width: 100%;
}

.p-menuitem-link-active span {
  color: var(--primary-color) !important;
  font-weight: bold;
}

.velo-spinner {
  display: flex;
  margin-top: 30vh;
}

.calendar-heatmap-day-tooltip {
  min-width: 130px;
  line-height: 1.8;
}

.velo-card {
  height: 100%;
  width: 100%;
  background: var(--surface-card);
  color: var(--text-color);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 0.5rem 1.25rem 1rem;
}
